.card {
  text-align: center;
  line-height: 40px;
  padding: 50px;
  padding-top: 75px;
  padding-bottom: 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(228, 228, 228, 0.856);
}